/* ==================== VARIABLE ===================== */
:root {
  /* ==================== COLORS ===================== */
  --line-color: hsl(234, 12%, 35%);
  --active-color: hsl(234, 100%, 98%);
  --inactive-color: hsl(234, 20%, 68%);
  --body-color: hsl(234, 12%, 8%)
}