/* ==================== GOOGLE FONT ===================== */
@import url("https://fonts.googleapis.com/css?family=Raleway:700,900&display=swap");

/* ==================== CSS VARIABLES ===================== */
:root {
  /* COLORS */
  --first-color: #D8DBE2;
  --second-color: #F2BF25;
  --text-color: #000;
  --white-color: #FFF;

  /* FONT & TYPOGRAPHY */
  --body-font: 'Raleway', sans-serif;
  --h2-font-size: 1.25rem;
  --big-font-size: 3rem;
  --normal-font-size: 0.93rem;
  --smaller-font-size: 0.75rem;

  /* Z-INDEX */
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* ==================== RESPONSIVE VARIABLEs ===================== */
@media screen and (min-width: 768px) {
  :root {
    --h2-font-size: 2rem;
    --big-font-size: 6rem;
    --normal-font-size: 1rem;
    --smaller-font-size: 0.813rem;
  }
}